/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a & */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Sofia+Sans+Semi+Condensed:wght@200&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #697058  ;
  --secondary-color: #A4A848 ;
  --accent1-color: #C36B27;
  --accent2-color: E5D8B3;

  /* change the values below to your chosen font(s) */
  --heading-font: "Sofia Sans Semi Condensed";
  --paragraph-font: Nunito, Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #396E94;  /* headlines on a white background */ 
  --headline-color-on-color: rgb(27, 17, 17); /* headlines on a colored background */ 
  --paragraph-color-on-white: #396E94; /* paragraph text on a white background */ 
  --paragraph-color-on-color: rgb(63, 55, 55); /* paragraph text on a colored background */ 
  --paragraph-background-color: #7683A0  ;
  --nav-link-color: #609187;
  --nav-background-color: #b7c9ce;
  --nav-hover-link-color: rgb(132, 135, 127);
  --nav-hover-background-color: #59768b;
}

nav{
    background-color: #70ae44;
}

nav > ul  > li{
    list-style-type: none;
    text-align: center;
    color:#b7c9ce;
    font-size: 24px;
    font-weight: bold;
}

nav > ul {
    display: flex;
    justify-content: space-between
}

.menu_buttons{
    position: relative;
    top:80px;
    right:40px;
    

}
.menu_buttons > a{
    border:  3px solid rgb(66, 88, 52);
    padding:12px

}

.menu_buttons > a:hover{
    background-color: #697058;
    text-decoration: underline;
    color:white;

}

.logo{
    width:85%;
    padding:5px;
}

footer {
    background-color: rgba(41, 104, 5, 0.525);
    margin-top: 200px;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p a:hover {
    text-decoration: underline;
    background-color: rgba(41, 104, 5, 0.525);
}    

/* .container_1{
    display: flex;
  }
  .image_1{
    flex: 1;
  }
  .description {
    flex: ;
  }

  .container_2{
    display: flex;
  }
  .image_2{
    flex: 2;
  }
  .description {
    flex: 2;
  } 
  .container_3{
    display: flex;
  }
  .image_3{
    flex: 3;
  }
  .description {
    flex: ;
  }  */